
<div class="container">
    <div class="text-center">
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
    <form class="post-blog-form">
        <div>
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="blog-name" name="title" />
        </div>
            <div>
        <label for="content">Content</label>
        <div class="form-group">
        <textarea class="form-control" name="contents" id="blog-desc"></textarea>
        </div>
        </div>
        <button type="submit" class="btn btn-primary">Post!</button>
    </form>
    </div>
</div>

  {{#if blogs.length}}
  <div class="col-md-6 project-list">
    <h3>Posts:</h3>

    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{blog.id}}">{{blog.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{blog.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/postBlog.js"></script>
